<html>
<head>
    {% load static %}
    <link rel='stylesheet' type='text/css' href='{% static "css/components.css" %}'>
</head>
<body>
<div class='login-box vertical-align'>
    <div class='login-container'>
        <label class='login-text'>Username:</label>
        <input class='login-input' type='text' name='name' value='Username'>
    </div>

    <div class='login-container'>
        <label class='login-text'>Password:</label>
        <input class='login-input' type='text' name='password' value='Password'>
    </div>
    <div class='login-container'>
        <label class='login-text reg-link'>Don't have an account yet? <u>Sign Up</u>.</label>
        <button class='login-btn'>Sign In</button>
    </div>
</div>
</body>
</html>